.bold {
  font-weight: bold;
}

h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

.yellow {
  background-color: #d8d866;
}

.red {
  background-color: #d98b8b;
}

.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}
